<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">

<head>
<title>Join Chat</title>
</head>

<body>
  <div layout:fragment="content" class="container">

    <h1 layout:fragment="header">Join Chat Channel</h1>

    <form id="messageForm" th:action="@{/chat}" th:object="${joinChatChannelModel}" action="#" method="post">

      <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation error</p>
      </div>

      <label for="channelName">Channel Name</label>
      <input type="text" th:field="*{channelName}" th:class="${#fields.hasErrors('channelName')} ? 'field-error'" />
      <div class="form-actions">
        <input type="submit" value="Join" />
      </div>
    </form>


  </div>
</body>

</html>