<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">

<head>
<title>Login</title>

<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>
  <div layout:fragment="content" class="container">

    <p th:if="${param.logout}" class="alert">You have been logged out</p>


    <form class="form-login" th:action="@{/login}" action="/login" method="POST">
      <h2 class="form-login-heading">Log In</h2>

      <div class="alert alert-danger" role="alert" th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}">Invalid
        username or password. Please try again.</div>

      <label for="usernameLabel" class="sr-only">Username</label>
      <input type="text" id="usernameLabel" name="username" class="form-control" placeholder="Username" required="true"
        autofocus="true" />
      <label for="passwordLabel" class="sr-only">Password</label>
      <input type="password" id="passwordLabel" name="password" class="form-control" placeholder="Password" />

      <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    </form>

  </div>
</body>

</html>